<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Event</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div style="width: 50vw; float: left;">
        <p id="infoMsg"></p>
        <h2 style="text-align: center;">Recruitment Event</h2>

        <form id="editEvent">
            <input type="hidden" id="id" value="<%= event._id %>">
            <input type="text" placeholder="Event title" id="title" value="<%= event.title %>" required>
            <label for="date">Date</label>
            <% let date = new Date(event.date) %>
            <% let day = date.getDate().toString() %>
            <% if(day < 10) day = `0${day}` %>
            <% let mon = (date.getMonth()+1).toString() %>
            <% if(mon < 10) mon = `0${mon}` %>
            <% let year = date.getFullYear().toString() %>
            <% let fullDate = `${year}-${mon}-${day}` %>
            <input type="date" id="date" value="<%= fullDate %>" required>
            <input type="text" id="venue" placeholder="Venue" value="<%= event.venue %>" required>
            <label for="startTime">Start time</label>
            <input type="time" id="startTime" value="<%= event.startTime %>" required>
            <label for="endTime">End time</label>
            <input type="time" id="endTime" value="<%= event.endTime %>" required>
            <textarea id="description" cols="30" rows="10" placeholder="Description" required><%= event.description %></textarea>
            <select id="domain" style="margin-top: 1rem;">
                <option value="none" selected disabled hidden>Select an option</option>
                <option value="web">Web</option>
                <option value="app">App</option>
                <option value="hr">HR</option>
                <option value="iot">IOT</option>
                <option value="game">Game</option>
                <option value="gd">Graphic Design</option>
            </select>
            <input type="submit" value="Update">
        </form>
    </div>

    <script>

        // Adding recruitment info
        document.querySelector('#editEvent').addEventListener('submit',editEvent)
        
        async function editEvent(e) {
            e.preventDefault()

            let date = new Date(document.querySelector('#date').value).toString().substring(4,15)
            
            let info = {
                id:document.querySelector('#id').value,
                title:document.querySelector('#title').value,
                date,
                venue:document.querySelector('#venue').value,
                startTime:document.querySelector('#startTime').value,
                endTime:document.querySelector('#endTime').value,
                description:document.querySelector('#description').value,
                domain:document.querySelector('#domain').value,
            }
            
            const response = await fetch('/admin/editEvent',{
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body:JSON.stringify(info)
            })

            const data = await response.json()
            
            document.querySelector('#infoMsg').innerHTML = data.msg
            if(response.status === 200){
                document.querySelector('#title').value = ""
                document.querySelector('#date').value = ""
                document.querySelector('#venue').value = ""
                document.querySelector('#startTime').value = ""
                document.querySelector('#endTime').value = ""
                document.querySelector('#domain').value = ""
                document.querySelector('#description').value = ""
            }
        }

    </script>
</body>
</html>