<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Members</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Think Digital</h3>
            </div>
    
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/admin/viewEvents">View Events</a>
                </li>
                <li>
                    <a href="/admin/viewProjects">View Projects</a>
                </li>
                <li>
                    <a href="/admin/viewUsers">View Users</a>
                </li>
                <li>
                    <a href="/admin/viewMembers">View Members</a>
                </li>
                <% if (user.type) { %>
                 <li>
                     <a href="/admin/viewAdmins">View Admins</a>
                 </li>
                <% } %>

            </ul>
    
        </nav>
        <!-- Page Content -->
        <div id="content">
    
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
    
                    <button type="button" id="sidebarCollapse" class="btn btn-colour">
                        <i class="fa fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Welcome <%= user.name %></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/logout"><i class="fa fa-sign-out"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <h3 class="mt-5">Members</h3>
            <div class="table-responsive-lg">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Domain</th>
                        <th>Year</th>
                        <th>Department</th>
                        <th>Actions</th>
                    </tr>
                    <% for(let member of data){ %>
                    <tr>
                        <td><%= member.name %></td>
                        <td><%= member.domain %></td>
                        <td><%= member.year %></td>
                        <td><%= member.dept %></td>
                        <td>
                            <button class="deleteBtn btn btn-sm btn-colour" title="Delete member" data-id="<%= member._id %>"><i class="fa fa-trash" data-id="<%= user._id %>"></i></button>
                            <% if (user.type) { %>
                            <button class="promoteBtn btn btn-sm btn-colour" title="Promote to admin" data-id="<%= member._id %>">Promote</button>    
                            <% } %>
                            <a class="btn btn-link" href="/admin/viewmemberprofile/<%= member._id %>">View Profile</a>
                            
                            <a class="btn btn-link more-actions-link" href="#more-actions<%= member._id %>" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="more-actions<%= member._id %>">More <i class="fa fa-angle-down"></i></a>
                            
                            <div class="collapse" id="more-actions<%= member._id %>">
                                <p>
                                    <a class="btn btn-link" data-toggle="collapse" href="#updateContact<%= member._id %>" role="button" aria-expanded="false" aria-controls="updateContact<%= member._id %>">Update Contact No.</a>
                                    <a class="btn btn-link" data-toggle="collapse" href="#updateWhatsapp<%= member._id %>" role="button" aria-expanded="false" aria-controls="updateWhatsapp<%= member._id %>">Update Whatsapp No.</a>
                                </p>
    
                                <div id="collapsible<%= member._id %>">
                                    <div class="collapse" id="updateContact<%= member._id %>" data-parent="#collapsible<%= member._id %>">
                                        <form class="contactForm">
                                            <div class="form-group">
                                                <input type="number" placeholder="Contact Number" class="form-control" value="<%= member.contactno %>">
                                            </div>
                                            <button class="btn btn-sm btn-colour">Update</button>
                                        </form>
                                        <p id="contactMsg<%= member._id %>"></p>
                                    </div>
                                    <div class="collapse" id="updateWhatsapp<%= member._id %>" data-parent="#collapsible<%= member._id %>">
                                        <form class="whatsappForm">
                                            <div class="form-group">
                                                <input type="number" placeholder="Whatsapp Number" class="form-control" value="<%= member.whatsappno %>">
                                            </div>
                                            <button class="btn btn-sm btn-colour">Update</button>
                                        </form>
                                        <p id="whatsappMsg<%= member._id %>"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="spinner-border" id="<%= member._id %>" style="color: #26A4E2;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
            
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script>

        $(document).ready(function () {

            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

        });

        document.querySelectorAll('.spinner-border').forEach(spinner => spinner.style.display = 'none')
        
        var deleteBtns = document.querySelectorAll('.deleteBtn')

        deleteBtns.forEach(btn => {
            btn.addEventListener('click',deleteMember)
        })

        async function deleteMember(e) {
            let {id} = e.target.dataset
            document.getElementById(id).style.display = 'block'

            let response = await fetch(`/admin/delete?from=users`,{
                method: 'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify({id})
            })

            let data = await response.json()

            if(response.status === 200){
                e.target.offsetParent.innerHTML = `Member deleted`
            }
            console.log(data)
        }

        document.querySelectorAll('.promoteBtn').forEach(btn => btn.addEventListener('click', promoteMember))
        
        async function promoteMember(e) {
            let { id } = e.target.dataset
            document.getElementById(id).style.display = 'block'
            
            let response = await fetch(`/admin/promoteMember`,{
                method: 'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify({id})
            })

            let data = await response.json()

            if(response.status === 200){
                e.target.offsetParent.innerHTML = data.msg
            } else {
                e.target.offsetParent.style.color = 'red'
                e.target.offsetParent.innerHTML = data.msg
            }
        }

        document.querySelectorAll('.contactForm').forEach(form => form.addEventListener('submit',updateContact))
        document.querySelectorAll('.whatsappForm').forEach(form => form.addEventListener('submit',updateWhatsapp))

        async function updateContact(e) {
            e.preventDefault()
            let id = e.target.parentNode.id.substring(13)
            document.getElementById(id).style.display = 'block'

            let number = e.target.querySelector('input').value
            
            let res = await fetch(`/admin/updateContact/${id}/${number}`,{
                method:'PUT'
            })

            let data = await res.json()

            if(res.status === 200) {
                document.getElementById(id).style.display = 'none'
                document.getElementById(`contactMsg${id}`).innerHTML = data.msg
            } else {
                document.getElementById(id).style.display = 'none'
                document.getElementById(`contactMsg${id}`).style.color = red
                document.getElementById(`contactMsg${id}`).innerHTML = data.msg
            }
        }
        
        async function updateWhatsapp(e) {
            e.preventDefault()
            let id = e.target.parentNode.id.substring(14)
            document.getElementById(id).style.display = 'block'
            
            let number = e.target.querySelector('input').value

            let res = await fetch(`/admin/updateWhatsapp/${id}/${number}`,{
                method:'PUT'
            })

            let data = await res.json()

            if(res.status === 200) {
                document.getElementById(id).style.display = 'none'
                document.getElementById(`whatsappMsg${id}`).innerHTML = data.msg
            } else {
                document.getElementById(id).style.display = 'none'
                document.getElementById(`whatsappMsg${id}`).style.color = red
                document.getElementById(`whatsappMsg${id}`).innerHTML = data.msg
            }
        }
        
        document.querySelectorAll('.more-actions-link').forEach(link => link.addEventListener('click',toggleView))

        function toggleView(e) {
            let link = e.target
            link.classList.toggle('active')
            if(link.classList.contains('active')) {
                link.innerHTML = `Less <i class="fa fa-angle-up"></i>`
            } else {
                link.innerHTML = `More <i class="fa fa-angle-down"></i>`
            }
        }
        
    </script>
</body>
</html>