<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Projects</title>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Think Digital</h3>
            </div>
    
            <ul class="list-unstyled components">
                <li>
                    <a href="/admin/dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="/admin/viewEvents">View Events</a>
                </li>
                <li>
                    <a href="/admin/viewProjects">View Projects</a>
                </li>
                <li>
                    <a href="/admin/viewUsers">View Users</a>
                </li>
                <li>
                    <a href="/admin/viewMembers">View Members</a>
                </li>

            </ul>
    
        </nav>
        <!-- Page Content -->
        <div id="content">
    
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
    
                    <button type="button" id="sidebarCollapse" class="btn btn-colour">
                        <i class="fa fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Welcome <%= user.name %></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/logout"><i class="fa fa-sign-out"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
            <h3 class="mt-5">Member Projects</h3>
            <div class="line"></div>

            <div class="table-responsive-lg">
                <table class="table table-striped mt-5">
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>Deadline</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    <% for(let project of data){ %>
                        <tr>
                            <td><%= project.title %></td>
                            <td><%= project.startDate %></td>
                            <td><%= project.deadline %></td>
                            <td style="width: 40px;"><%= project.description %></td>
                            <td>
                                <button class="deleteTask btn btn-sm btn-colour" data-id="<%= project._id %>">Delete</button>
                                <button class="editTask btn btn-sm btn-colour" data-id="<%= project._id %>">Edit</button>
                                <a class="btn btn-link" href="/admin/viewproject/<%= project._id %>">View More</a>
                            </td>
                        </tr>
                     <% } %>
                </table>
            </div>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    
    <script>
        
        $(document).ready(function () {

            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

        });

        //delete
        document.querySelectorAll('.deleteTask').forEach(btn => btn.addEventListener('click',deleteEvent))

        async function deleteEvent(e) {
            e.preventDefault()
            let id = e.target.dataset.id

            let response = await fetch(`/admin/delete?from=tasks`,{
                method: 'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify({id})
            })

            let data = await response.json()

            if(response.status === 200){
                e.target.parentNode.innerHTML = `<p style="color:red">Project deleted</p>`
                console.log(data.msg)
            }
            else{
                e.target.parentNode.innerHTML = `<p style="color:red">Some error occured, please reload the page and try again</p>`
            }
        }

        //edit
        document.querySelectorAll('.editTask').forEach(btn => btn.addEventListener('click',editEvent))

        function editEvent(e){
            e.preventDefault()
            window.location = `/admin/editProject?id=${e.target.dataset.id}`
        }
    </script>
</body>
</html>