<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Info</title>
</head>
<body>
    <h2>Recruitment Events</h2>
    <button class="filter" value="web">Web</button>
    <button class="filter" value="app">App</button>
    <button class="filter" value="iot">IOT</button>
    <button class="filter" value="game">Game</button>
    <button class="filter" value="gd">GD</button>
    <button class="filter" value="hr">HR</button>
    <button class="filter" value="all">Show all</button>
    <% for(let i in data){ %>
       <ul>
           <li>Title: <%= data[i].title %></li>
           <li class="domain">Domain: <%= data[i].domain %></li>
           <li>Date: <%= data[i].date %></li>
           <li>Time: <%= data[i].startTime %> to <%= data[i].endTime %></li>
           <li>Venue: <%= data[i].venue %></li>
           <li>Description: <%= data[i].description %></li>
           <li>Added by: <%= data[i].addedBy %></li>
       </ul>
    <% } %>

    <script>
        var buttons = document.querySelectorAll('.filter')

        buttons.forEach(button => {
            button.addEventListener('click',filterItems)
        })

        function filterItems(e) {
            var c = e.target.value
            var items = document.querySelectorAll('.domain')
            items.forEach(item => {
                if(c=='all') item.parentNode.style.display = 'block'
                else if(item.innerHTML !== 'Domain: '+c) item.parentNode.style.display='none'
                else item.parentNode.style.display='block'
            })
        }
    </script>
</body>
</html>