<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table{
            width: 80%;
        }
        th,td {
            height:2rem;
        }
        td{
            padding-left: 50px;
        }
    </style>
</head>
<body>
    <h2>Welcome <%= user.name %></h2>
    <a href="/admin/logout">Logout</a>
    <a href="/admin/changePassword">Change Password</a>
    <a href="/admin/viewEvents">View Events</a>
    <a href="/admin/viewUsers">View Users</a>
    <a href="/admin/viewMembers">View Members</a>
    <a href="/admin/addTask">Add Task</a>
    <hr>

    <h1>Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Interested Domain</th>
            <th>Year</th>
            <th>Department</th>
        </tr>
        <% for(let user of data){ %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.domain %></td>
                <td><%= user.year %></td>
                <td><%= user.dept %></td>
                <td>
                    <input type="hidden" class="id" value="<%= user._id %>">
                    <button class="deleteBtn">Delete user</button>
                    <button class="promoteBtn">Promote to member</button>
                </td>
            </tr>
         <% } %>
    </table>

    <script>
        var deleteBtns = document.querySelectorAll('.deleteBtn')
        var promoteBtns = document.querySelectorAll('.promoteBtn')

        deleteBtns.forEach(btn => {
            btn.addEventListener('click', deleteUser)
        })

        promoteBtns.forEach(btn => {
            btn.addEventListener('click', promoteUser)
        })

        async function deleteUser(e) {
            let id = e.target.offsetParent.firstElementChild.value

            let response = await fetch(`/admin/delete`,{
                method: 'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify({id})
            })

            let data = await response.json()

            if(response.status === 200){
                e.target.offsetParent.innerHTML = `User deleted`
            }
            console.log(data)
        }
        
        async function promoteUser(e) {
            let id = e.target.offsetParent.firstElementChild.value

            let response = await fetch(`/admin/promote`,{
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body:JSON.stringify({id})
            })
    
            let data = await response.json()
    
            if(response.status === 200){
                e.target.offsetParent.innerHTML = `User promoted`
            }
            console.log(data)
        }

    </script>
</body>
</html>