<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title>Document</title>
    <style>
        *:focus {
            outline: 0 !important;
        }
        body{
            background-color: #ffffff;
            font-family: 'Montserrat', sans-serif;
        }
        .sidenav{
          height: 100vh;
          width:200px;
          position: fixed;
          top: 0;
          left: 0;
          background-color: #72E4FE!important;
          z-index: 999;
        }
        .nontdnav{
          display: block;
        }
        .nontdnav a{
          color:white!important;
        }

        .nontdnav a:hover{
          color:#eee!important;
        }
        #logout-btn{
            background-color: white;
            border:none;
            color:#72E4FE;
            border-radius: 24px;
            padding: 4px 12px;
        }
        #logout-btn:hover{
          background-color: #eee;
        }
        .dash-container{
          margin-left: 200px;
        }
        .dash-container h2{
          color: #218EC4;
          padding: 2%;
        }
        .step{
            height: 50px;
            width: 50px;
            line-height: 46px;
            text-align: center;
            border-radius: 50%;
            position: relative;
            color: white;
        }
        .timeline{
          width: 60%;
          margin: 0 auto;
        }
        .event-card{
          width: 80%!important;
          margin: 5%!important;
        }
        .event-card h5{
          color: #72E4FE;
        }
        .event-card p{
          color:#A9A9A9;
        }
        #view-btn{
          font-size: 14px;
          color:#26A4E2;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }

        #feedback-btn,
        .submit-btn{
          background-color: #72E4FE;
          font-size: 14px;
          border:none;
          color:white;
          border-radius: 24px;
          padding: 4px 12px;
          cursor: pointer;
        }

        @media (max-width: 600px)
        {
          .sidenav{
            height: auto;
            width: 100vw;
          }
          .dash-container{
            margin: 10vh 0 0 0;
          }
          .timeline{
            width: 100%;
            margin: 0 auto;
          }
        }
        .line{
          position: absolute;
            top: 25px;
            left: 25px;
            height: 200px;
            z-index: -1;
        }
        .step img{
            height: 20px;
            width: 20px;
            z-index: 1;
        }
        .red{
          border: 2px solid grey;
          color: white;
          background-color: grey;
        }
        .yellow{
            border: 2px solid #02c39a;
            color: #02c39a;
            background-color: white;
        }
        .green{
            border: 2px solid #02c39a;
            background-color: #02c39a;
        }
        .green-line{
          border-left: 2px solid #02c39a;
        }
        .grey-line{
          border-left: 2px dashed grey;
        }
        .slider{
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          color: black;
          background-color: black;
        }
        .slider-label{
          color:#A9A9A9;
        }
        #suggestion{
          border: none;
          border-bottom: 2px solid #72E4FE ;
          margin-bottom: 20px;
          font-size: 16px;
        }
        #suggestion input::placeholder{
            color:#A9A9A9;
        }
        .spin-1{
          display: none;
        }
        .spin-2{
          display: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light sidenav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nontdnav">
            <li class="nav-item">
              <a class="nav-link dynamic-link" href="/user/profile">Profile<span class="sr-only">(current)</span></a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link dynamic-link" href="/user/primarydash">Primary Domain</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link dynamic-link" href="/user/secondarydash">Secondary Domain</a>
            </li>
            <hr>
            <li class="nav-item">
              <a class="nav-link" href="http://think-digital.in/">Our Website</a>
            </li>
            <hr>
            <li class="nav-item">
              <button class="nav-link" id="logout-btn" style="cursor: pointer;">Logout</button>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container dash-container" >
      <h2>Your recruitment timeline :</h2>
        <% let c=1 %>
        <div class="timeline">
        <% for(let i=0; i<result.length; i++) { %>

                <% let endDate = new Date(result[i].endDate) %>
                <% let startDate = new Date(result[i].startDate) %>
                <% if(today < startDate) { %>
                <div class="step red float-left">
                  <%= c++ %>
                  <div class="line grey-line"></div>
                </div> 
                <% } else if (today >= startDate && today <= endDate){ %>
                <div class="step yellow float-left"><%= c++ %> <div class="line grey-line"></div></div> 
                <% } else { %>
                <div class="step green float-left"><%= c++ %> <div class="line green-line"></div></div> 
                <% } %>
                <div class="card event-card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title<%= c %>"><%= result[i].title %></h5>
                      <p class="card-subtitle mb-2">Date:  <%= result[i].date %></p>
                    <p>
                        <button id="view-btn" data-toggle="collapse" onclick="btnToggle()" href="#multiCollapseExample1<%= c %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View Details</button>
                        <button id="feedback-btn" type="button" data-toggle="collapse" data-target="#multiCollapseExample2<%= c %>" aria-expanded="false" aria-controls="multiCollapseExample2">Leave Feedback</button>
                    </p>
                    <div class="row">
                        <div class="col">
                          <div class="collapse multi-collapse" id="multiCollapseExample1<%= c %>">
                            <p><%= result[i].description %> </p>
                            <p>Venue:  <%= result[i].venue %> </p>
                            <p>Time:  <%= result[i].startTime %> -  <%= result[i].endTime %></p>
                            <p>Will you be attending?</p>
                            <div id="<%=result[i]._id%>" >
                              <form class="attendance">
                                  <input  type="radio" id="yes" name="attendance" value="yes">
                                  <label for="yes">yes</label><br>
                                  <input  type="radio" id="no" name="attendance" value="no">
                                  <label for="no">no</label><br>
                                  <div class="spinner-border text-info spin-1" role="status">
                                    <span class="sr-only">Loading...</span>
                                  </div>
                                  <button class="submit-btn" type="submit">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2<%= c %>">
                              <div id="<%=result[i]._id%>" >
                                <form class="feedback">
                                    <input id="env" class="slider" type="range" min="1" max="5" value="5" name="env">
                                    <label class="slider-label" for="env">Environment</label><br>
                                    
                                    <input id="speaker" class="slider" type="range" min="1" max="5" value="5" name="speaker">
                                    <label class="slider-label" for="speaker">Speakers</label><br>
                                    
                                    <input id="understanding" class="slider" type="range" min="1" max="5" value="5" name="understanding">
                                    <label class="slider-label" for="understanding">Understanding</label><br>
                                    <input id="suggestion" type="text" placeholder="Any Suggestions" name="suggestion"><br>
                                    <div class="spinner-border text-info spin-2" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                    <button class="submit-btn" type="submit">Submit</button>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        <% } %>
      </div>
    </div>
    <script>

      //changing view more to view less
      var i=0
      function btnToggle(){
        i++
        viewBtn = document.getElementById('view-btn')
        if(i % 2 ==0)
          viewBtn.innerHTML = "View Details"
        else
          viewBtn.innerHTML = "Hide Details"
      }


      //adding the token to all links
      let token = localStorage.getItem('token')
      document.querySelectorAll('.dynamic-link').forEach(link => link.href+=`/${token}`)

      //logout functionality
      document.querySelector('#logout-btn').addEventListener('click',() => {
        localStorage.removeItem('token')
        window.location = '/user/login'
      })

      let atns = document.querySelectorAll('.attendance')

      atns.forEach(atn => {
        atn.addEventListener('submit', markAtn)
      })
      
      async function markAtn(e) {
        e.preventDefault()

        let id = e.target.parentNode.id

        let value = e.target.childNodes
        let attendance

        if(value[1].checked)
          attendance = 1
        else if(value[6].checked)
          attendance = 0

        let info = {
          id,
          attendance
        }

        let response = await fetch('/user/attendance',{ 
          method: 'POST',
          headers: {
            'content-type': 'application/json',
            'x-auth-token':token
          },
          body: JSON.stringify(info)
        
        })

        let data = await response.json()
        if(response.status===200)
        {
          console.log(data.msg)
        }
      }

      let feedbacks = document.querySelectorAll('.feedback')

      feedbacks.forEach( feedback => {
        feedback.addEventListener('submit',submitFeedback)
      })

      async function submitFeedback(e){
        e.preventDefault()

        let id = e.target.parentNode.id
        let env = e.target.childNodes[1].value
        let speaker = e.target.childNodes[6].value
        let understanding = e.target.childNodes[11].value
        let suggestion = e.target.childNodes[16].value

        let info = {
          id,
          env,
          speaker,
          understanding,
          suggestion
        }

        console.log("info:", info)

        let response = await fetch('/user/feedback',{ 
          method: 'POST',
          headers: {
            'content-type': 'application/json',
            'x-auth-token':token
          },
          body: JSON.stringify(info)
        })

        let data = await response.json()
        if(response.status===200)
        {
          console.log(data)
        }
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>