<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title>Profile</title>
    <style>
      *:focus {
            outline: 0 !important;
        }
      body{
          background-color: #ffffff;
          font-family: 'Montserrat', sans-serif;
      }
      .sidenav{
        height: 100vh;
        width:200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #72E4FE!important;
        z-index: 999;
      }
      .nontdnav{
        display: block;
      }
      .nontdnav a{
        color:white!important;
      }

      .nontdnav a:hover{
        color:#eee!important;
      }
      #logout-btn{
          background-color: white;
          border:none;
          color:#72E4FE;
          border-radius: 24px;
          padding: 4px 12px;
      }
      #logout-btn:hover{
        background-color: #eee;
      }
      .profile-container h2{
        color: #218EC4;
      }
      .profile-container p{
        color: #72E4FE!important;
      }
      .profile-container{
        padding: 2%;
        margin-left: 250px;
      }
      .profile-container span{
        color: #A9A9A9;
        font-weight: 200;
      }
      .profile-row{
        height: 100vh;
      }
      p{
        margin: 0;
      }
      @media (max-width: 600px)
        {
          .sidenav{
            height: auto;
            width: 100vw;
          }
          .profile-container{
            margin: 10vh 0 0 0;
          }
        }
    </style>
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light sidenav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nontdnav">
          <li class="nav-item">
            <a class="nav-link dynamic-link" href="/user/profile">Profile<span class="sr-only">(current)</span></a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link dynamic-link" href="/user/primarydash">Primary Domain</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link dynamic-link" href="/user/secondarydash">Secondary Domain</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="http://think-digital.in/">Our Website</a>
          </li>
          <hr>
          <li class="nav-item">
            <button class="nav-link" id="logout-btn" style="cursor: pointer;">Logout</button>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container profile-container">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <h2>Profile</h2>
          <% if (user.registered == 0) { %>
            <p>Please complete registeration to view profile</p>
          <% } else { %>
            <ul class="list-group" >
            
              <li class="list-group-item list-group-item-light"><p >Name : <span><%= user.name %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Register Number : <span><%= user.regno %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Department : <span><%= user.dept %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Batch : <span><%= user.batch %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Contact Number : <span><%= user.contactno %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Whatsapp Number : <span><%= user.whatsappno %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Primary Domain : <span><%= user.domain1 %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Secondary Domain : <span><%= user.domain2 %></span></p></li>
              <li class="list-group-item list-group-item-light"><p>Year : <span><%= user.year %></span></p></span></p></li>
            </ul>  
          <% } %>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      //adding the token to all links
      let token = localStorage.getItem('token')
      document.querySelectorAll('.dynamic-link').forEach(link => link.href+=`/${token}`)

      //logout functionality
      document.querySelector('#logout-btn').addEventListener('click',() => {
        localStorage.removeItem('token')
        let loginType = localStorage.getItem('loginType')
        localStorage.removeItem('loginType')
        if(loginType === 'google') return window.location = '/user/glogout'
        window.location = '/user/login'
      })
    </script>
</body>
</html>