<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card-deck">
            <div class="card mb-4">
                    <h4 class="card-title">Resources</h4>
                    <% task.resources.forEach(resource => {%>
                        <p class="card-text"><%= resource %></p>
    
                    <%})%>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Phases</h4>
                    <% task.phases.forEach(phase => {%>
                        <p class="card-text"><%= phase.title %> till <%= phase.deadline %></p>
                    <%})%>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Your Tasks</h4>
                    <% task.subtasks.forEach(subtask => {%>
                        <h5 class="card-text"><%= subtask.title %> </h5>
                        <h6class="card-text">**<%= subtask.complete?('done'):('not done') %></h6>
                        <p class="card-text">From <%= subtask.startDate %></p>
                        <p class="card-text">To <%= subtask.endDate %></p>
                        <% if(!subtask.complete) { %>
                            <button id='<%= subtask._id %>' class='subtask-update btn-primary'>Done</button>
                        <% } %>
                <%})%>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Bugs</h4>
                    <% task.bugs.forEach(bug => {%>
                        <h5 class="card-text"><%= bug.title %> </h5>
                        <h6  class="card-text"></h6> >**<%= bug.complete?('done'):('not done') %></h6>
                        <p  class="card-text"></p> >From <%= bug.startDate %></p>
                        <p  class="card-text"></p> >To <%= bug.endDate %></p>
                        <% if(!bug.complete) { %>
                            <button id='<%= bug._id %>' class='bug-update btn-primary'>Done</button>
                        <% } %> 
                <%})%>
                </div>
            </div>
            
            
       
        </div>
    </div>
</body>
</html>